<div class="detail col-xs-12">
  <div class="header">Pay my Rent</div>
  <form name="payForm" autocomplete="off" novalidate>
    <div class="rent col-xs-4">
      <div class="your-rent col-xs-12">
        <strong>Your Rent</strong>
      </div>
      <strong class="number col-xs-12">
        <div class="input-group">
          <span class="input-group-addon addon1" id="basic-addon1">$</span>
          <input type="number" name="amount" class="form-control input-number" ng-model="amount" ng-change="updateFees()" error-message min="{{ options.min_amount }}" max="{{ options.max_amount }}" required>
          <span class="input-group-addon addon2" id="basic-addon2">
            <div class="plus" ng-class="{minmax: amount >= options.max_amount}">
              <i class="fa fa-plus" ng-click="increase()"></i>
            </div>
            <div class="minus" ng-class="{minmax: amount < 1}">
              <i class="fa fa-minus" ng-click="decrease()"></i>
            </div>
          </span>
        </div>
      </strong>
    </div>
    <div class="options col-xs-4">
      <div class="landlord">
        <strong>Landlord gets payment on</strong>
        <div class="landlord-payment col-xs-12">
          {{ getLandlordDate(pay_date, recurring) || '-' | date:'MM/dd/yyyy' }}
        </div>
      </div>
      <div class="pay-it">
        <strong>Billed on</strong>
        <div class="input recurring form-mui col-xs-12" ng-if="recurring && !recurring_payment">
          <input type="text" date-picker name="pay_date" id="pay_date" class="input input-mui mui-form-control" ng-model="pay_date" ng-change="onChangeRecurringValues()" error-message="{dateGreaterThan:'The date must be greater then now'}" date-greater-than="{{ min_date }}" required />
        </div>
        <div class="date" ng-hide="recurring && !recurring_payment">{{ now | date:'MM/dd/yyyy' }}</div>
      </div>
    </div>
    <div class="pay col-xs-4">
      <div class="buttons col-xs-12">
        <button type="button" class="btn btn-warning" ng-click="openPayModal()" ng-hide="recurring_payment" ng-disabled="payForm.$invalid || fees_status != 'done'">
          <span ng-hide="recurring">Pay with Credit/Debit</span>
          <span ng-show="recurring">Create Recurring Payment</span>
        </button>
        <button type="button" class="btn btn-warning" ng-click="updateRecurring(contract, amount)" ng-show="recurringChanged" ng-disabled="payForm.$invalid">Update Recurring Payment</button>
        <button type="button" class="btn btn-danger" ng-click="cancelRecurring(contract)" ng-show="recurring_payment && !recurringChanged" ng-disabled="payForm.$invalid">Cancel Recurring Payment</button>
      </div>
      <!---TODO temporarily hidden -->
      <div class="col-xs-12" ng-show="false">
        <strong>Recurring Payments</strong>
        <div class="switcher-wrapper">
          <span class="switcher-off" ng-class="{'switcher-active': !recurring}">OFF</span>
          <div class="switcher">
            <input type="checkbox" name="switcher" class="switcher-checkbox" id="switch-payments" ng-model="recurring" ng-change="onChangeRecurring(recurring, recurring_payment, contract)">
            <label class="switcher-label" for="switch-payments" ng-class="{active: recurring}">
              <span class="switcher-inner"></span>
              <span class="switcher-switch"></span>
            </label>
          </div>
          <span class="switcher-on" ng-class="{'switcher-active': recurring}">ON</span>
          <i class="fa fa-info-circle" tooltip="Turn recurring payments on and we'll charge your card automatically every month. Turn it off to pay each month manually." tooltip-placement="right"></i>
        </div>
      </div>
    </div>
  </form>
</div>

<!-- Last Payment -->
<div class="payments col-xs-12">
  <div class="col-xs-12">Last Payment Status</div>
  <div class="table-wrap col-xs-12">
    <table class="payments-table col-xs-12">
      <thead>
        <tr>
          <th scope="col" class="col-xs-4">Date</th>
          <th scope="col" class="col-xs-4">Amount</th>
          <th scope="col" class="col-xs-4">Status</th>
        </tr>
      </thead>

      <tbody>
      <tr ng-if="transaction" ng-hide="showDetailId == transaction._id">
        <td title="Date" class="col-xs-4">
          {{ transaction.createdAt | date:'MMM d, yyyy' }}
        </td>
        <td title="Amount" class="col-xs-4">
          ${{ transaction.amount | number:2 }}
        </td>
        <td title="Status" class="col-xs-4">
          <button type="button" class="btn transaction-step-{{ transaction.step }}" ng-class="{'btn-warning': true}" ng-click="showDetail(transaction._id)">
            <div ng-show="transaction.step == 0">Payment Pending</div>
            <div ng-show="transaction.step == 1">Payment Completed</div>
            <div ng-show="transaction.step == 2">Check Created</div>
            <div ng-show="transaction.step == 3">Check Delivered</div>
            <div ng-show="transaction.step == 4">Check Delivered</div>
          </button>
        </td>
      </tr>

      <tr ng-if="transaction" class="table-detail table-detail-{{ transaction.step }}" ng-show="showDetailId === transaction._id">
        <td colspan="3">
          <div class="col-xs-4">{{ transaction.createdAt | date:'MMM d, yyyy' }}</div>
          <div class="col-xs-4">${{ transaction.amount | number:2 }}</div>
          <div class="payment-detail-header col-xs-4" ng-click="showDetail()">
            <div ng-show="transaction.step == 0">Payment Pending</div>
            <div ng-show="transaction.step == 1">Payment Completed</div>
            <div ng-show="transaction.step == 2">Check Created</div>
            <div ng-show="transaction.step == 3">Check Delivered</div>
            <div ng-show="transaction.step == 4">Check Delivered</div>
          </div>
          <div class="payment-detail first col-xs-4" ng-class="{done: transaction.step >= 0}">
            <div class="fa-stack">
              <i class="fa fa-circle fa-stack-2x"></i>
              <i class="fa fa-inverse fa-stack-1x" ng-hide="transaction.step >= 0">1</i>
              <i class="fa fa-check fa-stack-1x" ng-show="transaction.step >= 0"></i>
            </div>
            <div class="date">{{ getLatestLog(transaction.payment.logs).date | date:'MMM d, yyyy' }}</div>
            <div ng-show="transaction.payment.status === 'PENDING'">Payment<br />Pending</div>
            <div ng-show="transaction.payment.status === 'COMPLETED'">Payment<br />Recieved</div>
          </div>
          <div class="payment-detail col-xs-2" ng-class="{done: transaction.step >= 1}">
            <div class="fa-stack">
              <i class="fa fa-circle fa-stack-2x"></i>
              <i class="fa fa-inverse fa-stack-1x" ng-hide="transaction.step >= 1">2</i>
              <i class="fa fa-check fa-stack-1x" ng-show="transaction.step >= 1"></i>
            </div>
            <div class="date" ng-show="transaction.step >= 1">{{ getLog(transaction.check.logs, 'CREATED').date | date:'MMM d, yyyy' }}</div>
            <div class="date" ng-hide="transaction.step >= 1"> - </div>
            <div>Check<br />Created<br />
              <a target="_blank" ng-href="{{transaction.check.thumbnail}}" ng-show="transaction.step >= 1 && transaction.check.thumbnail" class="thumb">Thumbnail</a>
            </div>
          </div>
          <div class="payment-detail col-xs-2" ng-class="{done: transaction.step >= 2}">
            <div class="fa-stack">
              <i class="fa fa-circle fa-stack-2x"></i>
              <i class="fa fa-inverse fa-stack-1x" ng-hide="transaction.step >= 2">3</i>
              <i class="fa fa-check fa-stack-1x" ng-show="transaction.step >= 2"></i>
            </div>
            <div class="date" ng-show="transaction.step >= 1 && transaction.check.expected_delivery_date">{{ transaction.check.expected_delivery_date | date:'MMM d, yyyy':'utc' }}</div>
            <div class="date" ng-hide="transaction.step >= 1 && transaction.check.expected_delivery_date"> - </div>
            <div>Expected<br />Delivery</div>
          </div>
          <div class="payment-detail col-xs-4" ng-class="{done: transaction.step >= 3}">
            <div class="fa-stack">
              <i class="fa fa-circle fa-stack-2x"></i>
              <i class="fa fa-inverse fa-stack-1x" ng-hide="transaction.step >= 3">4</i>
              <i class="fa fa-check fa-stack-1x" ng-show="transaction.step >= 3"></i>
            </div>
            <div class="date" ng-show="transaction.step >= 3">{{ getLog(transaction.check.logs, 'COMPLETED').date | date:'MMM d, yyyy' }}</div>
            <div class="date" ng-hide="transaction.step >= 3"> - </div>
            <div>Check<br />Delivered</div>
          </div>
        </td>
      </tr>

      <tr ng-hide="transaction">
        <td class="no-payments" colspan="4">No Payments Yet</td>
      </tr>

      </tbody>
    </table>
  </div>
</div>
