<div class="clearfix">
  <div class="detail col-xs-12">
    <div class="header">Settings</div>
  </div>
  <div class="settings col-xs-12">
    <ul class="menu col-xs-12">
      <li class="col-xs-4" ui-sref-active="active"><a ui-sref=".personal">Personal Information</a></li>
      <li class="col-xs-4" ui-sref-active="active"><a ui-sref=".billing">Payment Information</a></li>
      <li class="col-xs-4" ui-sref-active="active"><a ui-sref=".password">Change Password</a></li>
    </ul>
    <div class="form-wrap" ui-view />
  </div>
</div>
