<div class="form form-mui col-xs-12">
  <form name="passwordForm" ng-submit="passwordForm.$valid && updatePassword(password)" novalidate>
    <div class="input mui-form-group col-xs-4">
      <input id="oldpassword" name="oldpassword" class="input-mui mui-form-control" type="password" ng-model="password.old" error-message required />
      <label for="oldpassword" class="mui-form-floating-label">Old Password</label>
    </div>
    <div class="input mui-form-group col-xs-4">
      <input id="password1" name="password1" class="input-mui mui-form-control" type="password" ng-model="password.new" error-message required />
      <label for="password1" class="mui-form-floating-label">New Password</label>
    </div>
    <div class="input mui-form-group col-xs-4">
      <input id="password2" name="password2" class="input-mui mui-form-control" type="password" ng-model="tmp_password" equals="{{ password.new }}" error-message required />
      <label for="password2" class="mui-form-floating-label">Repeat Password</label>
    </div>
    <div class="buttons col-xs-12">
      <flash-messages type="page"></flash-messages>
      <button type="submit" class="btn btn-info" disable-if-progress>Apply Changes</button>
    </div>
  </form>
</div>
