**/test-result*.xml
*~

.idea
.DS_Store
.nodemonignore

/code/client/lib
/node_modules
/code/server/node_modules

/graphics
**/integration_tests/results
**/integration_tests/results_archive
*.pyc
*.txt

/db/**/system.users.metadata.json
/db/**/system.indexes.bson
/db/**/system.users.bson
/db/**/objectlabs-system.admin.collections.bson
/db/**/objectlabs-system.admin.collections.metadata.json
/db/**/objectlabs-system.bson
/db/**/objectlabs-system.metadata.json

npm-debug.log
