<section class="login-page">

  <div class="login-box form-mui">

    <h1>Reset password</h1>

    <form name="resetForm" ng-hide="hideResetForm" ng-submit="resetForm.$valid && resetPassword(user)" novalidate>
      <p>
        We will send you an email with a link to reset you password.
      </p>

      <div class="input mui-form-group">
        <input id="email" name="email" class="input-mui mui-form-control" type="email" ng-model="user.email" error-message required />
        <label for="email" class="mui-form-floating-label">Email</label>
      </div>

      <div class="buttons">
        <button type="submit" class="btn btn-info" disable-if-progress>Send</button>
      </div>
    </form>

    <flash-messages type="page"></flash-messages>
  </div>

  <div class="login-underbox">
    <a ui-sref="^.signin">Already have an <strong>account</strong>?</a> /
    <a ui-sref="^.signup.personal">Don't have an <strong>account</strong>?</a>
  </div>

</section>
