<div class="form form-mui col-xs-12">
  <div class="done">
    <span class="fa-stack">
      <i class="fa fa-circle fa-stack-2x"></i>
      <i class="fa fa-check fa-stack-1x"></i>
    </span>
    <h2>All Set</h2>
    <p>Your account is now set up with <strong>SmartNest</strong>. Next step is logging in to pay your rent.
      No stamp needed.</p>
    <div class="buttons">
      <button type="button" class="btn btn-info" ng-click="gotoAccount()">Go to your account</button>
    </div>
  </div>
</div>
