<!-- Tabs navigation -->
<nav role="tablist" class="level-2">
  <!-- <ul>
    <li ui-sref-active="active">
      <a ui-sref="admin.payments.list.all">All</a>
    </li>
    <li ui-sref-active="active">
      <a ui-sref="admin.payments.list.reversed">Reversed
        <span ng-show="reversedUnsolved.length">
          (<span class="notification-alert">{{ reversedUnsolved.length }}</span>)
        </span>
      </a>
    </li>
  </ul> -->
</nav>

<!-- Content -->
<div class="col-xs-12" ui-view></div>
