<small ng-message="min">Invalid value</small>
<small ng-message="max">Invalid value</small>
<small ng-message="required">This field is required</small>
<small ng-message="email">The email format is invalid</small>
<small ng-message="date">The date format is invalid</small>
<small ng-message="number">The number format is invalid</small>
<small ng-message="phone">The phone format is invalid</small>
<small ng-message="uniqueEmail">Email already in use</small>
<small ng-message="equals">The fields must be equal</small>
<small ng-message="pattern">Invalid format</small>
<small ng-message="minlength">Value is too short</small>
<small ng-message="maxlength">Value is too long</small>
<small ng-message="unit">The unit number is invalid</small>
<small ng-message="minAge">You must be older</small>
<small ng-message="maxAge">Invalid date</small>
<small ng-message="dateGreaterThan">The date must be greater than other date</small>
<small ng-message="unitCollision">Collision with other contract</small>
